Fingerprint:<pre>8FF6 4418 9F4C 0529 0643  DA2C D457 2EF2 A3CB DAD8</pre>

<pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----
Version: GnuPG v1

mQINBFRysa0BEAC5aCsb/IwtXOPdv2vlVe8VRJ63S9IJCRb5G/3/wAaiPEFL0qAA
u1xCLC6qReO6GECGV/njTxuwSsIxFuany1XKTKxYQMXb13J9ZY9LuqBvqnQtpuk4
494PjnctoVknRCYDDv6iUPzkEgGN0QiufYHo0Cu0M2ovFj98yk/bs4WnhszXZPSW
nCaFBL8AVMYRICzs96sCPNlqHaqFMxDHrVPV5YHlKZGoxMjPNUKoUia+wXZSLJD2
9K7EfXjaYkYCCeaCvLpOgdSWmqPojYVzJ8LtZKAUbPySehdAZyAYIJSaQ/qCu5r9
FNah14ehnN4M6fzDv3tabl1M6xDzxhaBIpLzgX7nFsnijm0/I6bgyFLLW/qeJZRK
SnIGfFfWeUkAyapypmea/s+/StT+/fSo6KRX3WcmylUuYceC0DzDt1szESA7yy+u
ryk2fhlCQyXABm/rN9KXwPmx3dN+Keer6zY814NaWeKQ24YjcXFnU3Ls9Xd7ERg6
IWmjZC9XjoptddWenJGp32yW7Fqsv0CP8RzJOeiA0GXASQtoyNX6CKGDDMPMTYaK
cMN5/sfon1G3FAYLm14Pjz2hEn+9cE+oNf7KVSTmeVNbIG9+iBm+qYaKlrufaG8u
eHrkOFcGn39T+mJd8uGVsqGJqdiL9BwEv7gWsPvyo26dG14CTlJdpkUUQQARAQAB
tCFCb2IgTG9uZyA8cm9iZXJ0amZsb25nQGdtYWlsLmNvbT6JAjgEEwECACIFAlRy
sa0CGwMGCwkIBwMCBhUIAgkKCwQWAgMBAh4BAheAAAoJENRXLvKjy9rYI4MP/1mZ
5QqbTVw6+0gd8opSuq3QzEaeG4zVyIFDZJnWQ8UznAVbsueko37TYG+1md0K0l7k
uNLomT55LEd/iFRFrIFexOpFFshVloHDZzv0QcDLqQ2WqxAXj+dmnlt47IthgS0L
n6o/gIT6qjGEDwL1Gt3DN9oHD9vqZhvM2UTLU1W2/p350Zp+llxNhPG6yUIGYavK
6U8eGZPOCrcNbZifyvgQp1rQhYdVS9hCC/+3mWfP2Dr5eYakRNGf/AZ3KuQk3nQU
/YtSJXZOxeFosqQ912L1XyUnJpd8IuczTaS/lLwQH+4ccXke0o32rq+LXb8z06kn
wtg/S+/riUdVrpFc9dHH6aDHETh9N3ZKfFbP82WE8hbvIVQVrGbBtt5jg4R2Q85F
If0H1gcd4PZkhogk0mRb5j4NeCZutEV8Hcr/eXf5xf4jZlJjOfJ7Y8h4Gpeab5KX
YzVrh2hhUWw9rD6Ju7BuuNLzWk4LEbXszauy6kLBiJ8C18f7mM65U3wuDw5OQqYz
O+Tx0skMsu+w98Jd9Fu51/AlAXJ6BYEeYDLdVie2A6+9qF0/EYXhOwYk52kdnTdX
yqoIYCqa77ZmxgxlDJSN/fwU+MMHC1+exc+ykpPHF0hHeU+FKNL/ykZEEbULAGm7
HOkWhuJfyqqBMuPWSNTqtX/T1ir+D/8PPeXSeUYPuQINBFRysa0BEACugnOA/TNd
ezwTcR6CJIWB2TuVzPUu5kDb0zxTaS6DEzYndEbZH/0C4MF9Elwunmvvb6Vx3bhi
GRg6cp3jFMqWub0sUu7Rr4W1WoVUMSouZclN3E8NIzD3l87fBSjBC2kPbs1lWnbK
vyIamJr0hG91rwNfB8qInPwmEWuoOpTYzVd+O0qSK4snbHXJMNNJ7MmDtjCcRILQ
fSmXqD7jVBfwyVsNGLGt1b28Upq4swLVdqIWhhyz8gFhiX1jOrSGsNEBdEvgRN8+
QRDRSO4+zVnAn+0qEFm5bDVMfpcdQP7MF8mJkZ0S342MGZDcKi9PtuGLqJu8oqrP
ANkzr2/zNQhfAv22KhgNIrHMQp3nP6Cj2WWL1teo7YpDjkv3BbJ7KYU5hOffkaQj
7FV6es00Bcc6vS2eLdtnaOGpXZaChLEL3aL+eKuF6wnkU99Tj0i0kTwcEvtO2UEs
ahF77XMcuURD99JjSvKy8JCA3qPQSRep4zcAt+Ix9Gj8OuDpnNupUv5JS9vefR8v
YrWxUR4bopVFAw5dO24fL3WTiEXYJ0wPpA8C9kyuZVlQmv7QiRvVGXhNiLaSW5Hu
t8u0dTRtIRtk5VK12iekMZws6c1c8kfXHFkZyYN+HAqWZZwvVsYOf+knhtHU4CNc
x7pL9kkUda6Lj79F6lvN/jmluxdj9HHgrwARAQABiQIfBBgBAgAJBQJUcrGtAhsM
AAoJENRXLvKjy9rYFqQQAJwdRlRUBJc8pWuTMrUC0/MYJesnyq/UVR6OYR7odCzN
ceUqr2jsTu6gGwdPNkNltvmOXnYCRAMC0z4kxyJER6e8Lqu0zvdWqbGYJ3TiovQo
CSV7HvYOTZDXjCF8xQRws/56zZ+hzwGvwqYVgN9YVGlB33wT6VNrNcKnqSLkdEpj
au3Wsmh47z60B7ppbQQRMhrW1kIFbzcSSJH8LA7mHltz6pGixSDOy1WjOvMgNyZ2
x8xRtIPdWVUEpvlKeFPgbyU+rqrZdNMveE4fFDaqIwmrvhxbuczCe2tRSu9Mn7Gh
S+VfpDl6uilR5gJrQOC2lnZdJXNnPHxCQ1JK4zR1S48hAPCG2B+7qQmmZkWfa7VB
Ds1O5O6/elnjKSMvdUNB3O7vCMqD4SUtFeUMIzkA54ARfTkvCSGlE51ouLkxJDCd
euDDtlv+FTxLPYGYsrcCiQw3d8+I5Cd/s3ID9W2osbulD/n1bah+9m2GnsLpx6ZJ
2DJTJTiIm1cIGq8EtKAI8W1iQ0vpjapIn83B0cuRUTNkTX+hEIBf395LoU2hUSDb
kkEMjpKxyVmHMtQJplVgjV+a8xP/M6PICXS0j6nM5j6fX52DlQjFb+9CacFm7SqG
MDkMs6eLCuuMsYzaccifdTnDIP40IQ7ayvudyjDEcoN7exXISYpIJAwPHAmqYxWx
=MRUy
-----END PGP PUBLIC KEY BLOCK-----
</pre>
